In [3]:
import sys
sys.path.append('../')
from utils.data_processing import load_data

start_date_test = "2023-08-07"
end_date_test = "2024-01-01"

path = "../data/minutely/" + 'AAPL' + ".csv"

train_data = load_data(path, start_date_test, end_date_test)

In [5]:
train_data.keys()

Index(['Close', 'SMA5', 'SMA10', 'SMA20', 'SMA30', 'SMA60', 'EMA5', 'EMA10',
       'EMA20', 'EMA30', 'EMA60', 'RSI5', 'RSI10', 'RSI20', 'RSI30', 'RSI60',
       'MACD5', 'MACD5S', 'MACD5H', 'MACD10', 'MACD10S', 'MACD10H', 'MACD20',
       'MACD20S', 'MACD20H', 'MACD30', 'MACD30S', 'MACD30H', 'MACD60',
       'MACD60S', 'MACD60H', 'FR1', 'FR1TF', 'FR3', 'FR3TF', 'FR5', 'FR5TF',
       'FR10', 'FR10TF'],
      dtype='object')

In [4]:
train_data

,Close,SMA5,SMA10,SMA20,SMA30,SMA60,EMA5,EMA10,EMA20,EMA30,...,MACD60S,MACD60H,FR1,FR1TF,FR3,FR3TF,FR5,FR5TF,FR10,FR10TF
DateTime,,,,,,,,,,,,,,,,,,,,,
2023-08-07 21:30:00,182.57,182.395667,182.395667,182.395667,182.395667,182.395667,182.377414,182.377414,182.377414,182.377414,...,-0.101889,0.011339,-1.54,False,-2.41,False,-2.08,False,-3.00,False
2023-08-07 21:31:00,181.03,182.336000,182.336000,182.336000,182.336000,182.336000,182.290484,182.290484,182.290484,182.290484,...,-0.117928,-0.064158,-0.28,False,-0.48,False,-0.42,False,-1.58,False
2023-08-07 21:32:00,180.75,182.267333,182.267333,182.267333,182.267333,182.267333,182.191098,182.191098,182.191098,182.191098,...,-0.149155,-0.124908,-0.59,False,-0.26,False,0.16,True,-1.40,False
2023-08-07 21:33:00,180.16,182.184667,182.184667,182.184667,182.184667,182.184667,182.060059,182.060059,182.060059,182.060059,...,-0.197338,-0.192730,0.39,True,0.45,True,0.26,True,-0.58,False
2023-08-07 21:34:00,180.55,182.114333,182.114333,182.114333,182.114333,182.114333,181.962636,181.962636,181.962636,181.962636,...,-0.246950,-0.198449,-0.06,False,0.36,True,-0.24,False,-1.14,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-09 03:55:00,179.99,179.915333,179.915333,179.915333,179.915333,179.915333,179.919771,179.919771,179.919771,179.919771,...,0.099533,-0.025485,-0.10,False,-0.06,False,NaN,False,NaN,False
2023-08-09 03:56:00,179.89,179.920333,179.920333,179.920333,179.920333,179.920333,179.917850,179.917850,179.917850,179.917850,...,0.091285,-0.032990,0.03,True,-0.09,False,NaN,False,NaN,False
2023-08-09 03:57:00,179.92,179.922667,179.922667,179.922667,179.922667,179.922667,179.917989,179.917989,179.917989,179.917989,...,0.082564,-0.034882,0.01,True,NaN,False,NaN,False,NaN,False
2023-08-09 03:58:00,179.93,179.923667,179.923667,179.923667,179.923667,179.923667,179.918764,179.918764,179.918764,179.918764,...,0.073976,-0.034354,-0.13,False,NaN,False,NaN,False,NaN,False
2023-08-09 03:59:00,179.80,179.923333,179.923333,179.923333,179.923333,179.923333,179.911101,179.911101,179.911101,179.911101,...,0.063678,-0.041193,NaN,False,NaN,False,NaN,False,NaN,False

In [187]:
import pandas as pd
from talib.abstract import SMA, EMA, RSI, MACD
import datetime as dt
from scipy import stats
def load_data(path, start_date, end_date, indicators=True):
    
    # Load data from file
    df = pd.read_csv(path)
    df = df[["DateTime", "Close"]]
    df['date_ordinal'] = pd.to_datetime(df['DateTime']).map(dt.datetime.toordinal)
    df = df.set_index("DateTime")
    
    if indicators:
        # Add indicators
        for i in [5,10,20,60]:
            df['SMA'+ str(i)] = SMA(df['Close'])
            
        for i in [5,10,20,60]:
            df['EMA'+ str(i)] = EMA(df['Close'])
            
        for i in [5,10,20,60]:
            df['RSI'+ str(i)] = (RSI(df['Close']) - 50) / 50
            
        for i in [5,10,20,60]:
            df['MACD'+ str(i)], df['MACD'+ str(i) + "S"] , df['MACD'+ str(i) + "H"]  = MACD(df['Close'], fastperiod=12, slowperiod=26, signalperiod=9)    

        for i in [1,3,5,10]:
            df['FR'+ str(i)] = df['Close'].shift(-i) - df['Close']  
            df['FR'+ str(i) + "TF"] = df['FR'+ str(i)] > 0
            
        for i in [3,5,10,20,60]:
            df['SL'+ str(i) + 'CLOSE'] = get_slope_linregress(df['Close'], i)
            for j in [5,10,20,60]:
                df['SL'+ str(i) + 'SMA'+ str(j)] = get_slope_linregress(df['SMA'+ str(j)], i)
                df['SL'+ str(i) + 'RSI'+ str(j)] = get_slope_linregress(df['RSI'+ str(j)], i)
        
    df = df[(df.index > start_date) & (df.index <= end_date)]   
    
    return df

In [188]:
start_date_test = "2023-08-07"
end_date_test = "2024-01-01"

path = "../data/minutely/" + 'AAPL' + ".csv"

train_data = load_data(path, start_date_test, end_date_test)

train_data

,Close,date_ordinal,SMA5,SMA10,SMA20,SMA60,EMA5,EMA10,EMA20,EMA60,...,SL20RSI60,SL60CLOSE,SL60SMA5,SL60RSI5,SL60SMA10,SL60RSI10,SL60SMA20,SL60RSI20,SL60SMA60,SL60RSI60
DateTime,,,,,,,,,,,,,,,,,,,,,
2023-08-07 21:30:00,182.57,738739,182.395667,182.395667,182.395667,182.395667,182.377414,182.377414,182.377414,182.377414,...,0.000103,-0.000012,-0.000072,0.000061,-0.000072,0.000061,-0.000072,0.000061,-0.000072,0.000061
2023-08-07 21:31:00,181.03,738739,182.336000,182.336000,182.336000,182.336000,182.290484,182.290484,182.290484,182.290484,...,0.000022,-0.000200,-0.000077,-0.000015,-0.000077,-0.000015,-0.000077,-0.000015,-0.000077,-0.000015
2023-08-07 21:32:00,180.75,738739,182.267333,182.267333,182.267333,182.267333,182.191098,182.191098,182.191098,182.191098,...,-0.000010,-0.000286,-0.000084,-0.000045,-0.000084,-0.000045,-0.000084,-0.000045,-0.000084,-0.000045
2023-08-07 21:33:00,180.16,738739,182.184667,182.184667,182.184667,182.184667,182.060059,182.060059,182.060059,182.060059,...,-0.000034,-0.000367,-0.000092,-0.000065,-0.000092,-0.000065,-0.000092,-0.000065,-0.000092,-0.000065
2023-08-07 21:34:00,180.55,738739,182.114333,182.114333,182.114333,182.114333,181.962636,181.962636,181.962636,181.962636,...,-0.000039,-0.000395,-0.000101,-0.000068,-0.000101,-0.000068,-0.000101,-0.000068,-0.000101,-0.000068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-09 03:55:00,179.99,738741,179.915333,179.915333,179.915333,179.915333,179.919771,179.919771,179.919771,179.919771,...,-0.009415,0.012364,0.013327,-0.001320,0.013327,-0.001320,0.013327,-0.001320,0.013327,-0.001320
2023-08-09 03:56:00,179.89,738741,179.920333,179.920333,179.920333,179.920333,179.917850,179.917850,179.917850,179.917850,...,-0.015261,0.011998,0.013324,-0.001609,0.013324,-0.001609,0.013324,-0.001609,0.013324,-0.001609
2023-08-09 03:57:00,179.92,738741,179.922667,179.922667,179.922667,179.922667,179.917989,179.917989,179.917989,179.917989,...,-0.019590,0.011923,0.013305,-0.001565,0.013305,-0.001565,0.013305,-0.001565,0.013305,-0.001565
2023-08-09 03:58:00,179.93,738741,179.923667,179.923667,179.923667,179.923667,179.918764,179.918764,179.918764,179.918764,...,-0.022354,0.011673,0.013264,-0.001800,0.013264,-0.001800,0.013264,-0.001800,0.013264,-0.001800
2023-08-09 03:59:00,179.80,738741,179.923333,179.923333,179.923333,179.923333,179.911101,179.911101,179.911101,179.911101,...,-0.026781,0.011283,0.013198,-0.002178,0.013198,-0.002178,0.013198,-0.002178,0.013198,-0.002178

In [144]:
list = [('2018-01-01', 1), 
        ('2018-01-02', 2), 
        ('2018-01-03', 3), 
        ('2018-01-04', 3), 
        ('2018-01-05', 3)]
df = pd.DataFrame(list, columns=['date', 'value'])
df.date =pd.to_datetime(df.date)
df['date_ordinal'] = pd.to_datetime(df['date']).map(dt.datetime.toordinal)
slope, intercept, r_value, p_value, std_err = stats.linregress(df['date_ordinal'], df['value'])
slope


# a = df.apply(lambda x: distance_function(x.to_numpy().reshape(-1,3)))
# a

0.5

In [24]:
ee = df.apply(lambda x: stats.linregress(df.date_ordinal, df.value), axis=1)
ee

0    (1.0, -736694.0, 1.0, 9.003163161571059e-11, 0.0)
1    (1.0, -736694.0, 1.0, 9.003163161571059e-11, 0.0)
2    (1.0, -736694.0, 1.0, 9.003163161571059e-11, 0.0)
dtype: object

In [67]:
bb = df.copy()
bb

        date  value  date_ordinal
0 2018-01-01      1        736695
1 2018-01-02      2        736696
2 2018-01-03      3        736697
3 2018-01-04      3        736698
4 2018-01-05      3        736699

In [51]:
bb["value"].diff(3)

0    NaN
1    NaN
2    NaN
3    2.0
4    1.0
Name: value, dtype: float64

In [48]:
import numpy as np
b = {}
b[0] = bb

print(b[0])
b[1] = bb.shift(1)
print(b[1])
b[2] = bb.shift(2)
print(b[2])
ddff = bb[["date", "value"]]
ddff['value'].values[:] = 0
ddfff.apply(lambda x: stats.linregress(df.date_ordinal, df.value), axis=1)
ddff

    
ddfff.apply(lambda x: stats.linregress(df.date_ordinal, df.value), axis=1)

        date  value  date_ordinal
0 2018-01-01      1        736695
1 2018-01-02      2        736696
2 2018-01-03      3        736697
3 2018-01-04      3        736698
4 2018-01-05      3        736699
        date  value  date_ordinal
0        NaT    NaN           NaN
1 2018-01-01    1.0      736695.0
2 2018-01-02    2.0      736696.0
3 2018-01-03    3.0      736697.0
4 2018-01-04    3.0      736698.0
        date  value  date_ordinal
0        NaT    NaN           NaN
1        NaT    NaN           NaN
2 2018-01-01    1.0      736695.0
3 2018-01-02    2.0      736696.0
4 2018-01-03    3.0      736697.0

        date  value
0 2018-01-01      0
1 2018-01-02      0
2 2018-01-03      0
3 2018-01-04      0
4 2018-01-05      0

In [30]:
bb

        date  value  date_ordinal
0 2018-01-01      1        736695
1 2018-01-02      2        736696
2 2018-01-03      3        736697
3 2018-01-04      3        736698
4 2018-01-05      3        736699

In [32]:
cc = bb['value'].to_numpy().reshape(-1,5)
cc

array([[1, 2, 3, 3, 3]], dtype=int64)

In [22]:
dd = bb['date_ordinal'].to_numpy().reshape(-1,3)
dd

array([[736695, 736696, 736697]], dtype=int64)

In [ ]:
cc